# Multiple Linear Regression

In [1]:
# Importing required libraries

import numpy as np
import pandas as pd

In [7]:
# Importing the dataset

dataset = pd.read_csv('C:/Users/podug/Desktop/Datahill/Datasets/50_Startups.csv')

In [9]:
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [19]:
dataset.shape

(50, 5)

In [11]:
# Inspecting the categorical feature

dataset.State.unique()

array(['New York', 'California', 'Florida'], dtype=object)

In [12]:
# Extracting Independent and Dependent features

X = dataset.iloc[:,:-1]
y = dataset.iloc[:,-1]

In [13]:
X.head()

   R&D Spend  Administration  Marketing Spend       State
0  165349.20       136897.80        471784.10    New York
1  162597.70       151377.59        443898.53  California
2  153441.51       101145.55        407934.54     Florida
3  144372.41       118671.85        383199.62    New York
4  142107.34        91391.77        366168.42     Florida

In [14]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [15]:
# Converting the categorical feature into categorical columns

states = pd.get_dummies(X['State'], drop_first=True)
states.head()

   Florida  New York
0        0         1
1        0         0
2        1         0
3        0         1
4        1         0

In [16]:
# Drop the 'State' column

X = X.drop('State', axis=1)
X.head()

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42

In [17]:
# Concat the categorical columns

X = pd.concat([X, states], axis=1)
X.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

In [18]:
# Splitting the dataset into training and testing sets

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((40, 5), (10, 5), (40,), (10,))

In [20]:
# Fitting Multiple Linear Regression to the training set

from sklearn.linear_model import LinearRegression

regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [21]:
# Predicting the test set results

y_pred = regressor.predict(X_test)

In [22]:
y_test.head()

28    103282.38
11    144259.40
10    146121.95
41     77798.83
2     191050.39
Name: Profit, dtype: float64

In [24]:
y_pred[:5,]

array([103015.20159796, 132582.27760816, 132447.73845174,  71976.09851258,
       178537.48221055])

In [25]:
# Calculating the r2_score

from sklearn.metrics import r2_score

r2score = r2_score(y_test, y_pred)

In [26]:
r2score

0.9347068473282423